## NAME : ALI IRFAN
## ROLL NUMBER : 463082
## ASSIGNMENT # 05 (Loops)

1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [3]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [5]:
x = 20
while x > 0:
    print (x)
    x-=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

3. Write a program to print even numbers from 1 to 10.

In [6]:
print("Even Numbers:")
for x in range(1,11):
    if x%2 == 0:
        print(x)

Even Numbers:
2
4
6
8
10

4. Write a program that prompts the user to enter a number n and prints all the
numbers from 1 to n.

In [8]:
n = int(input("Enter a number: "))
for x in range (1,n+1):
    print(x)

Enter a number:  7

1
2
3
4
5
6
7

5. Write a program that prompts the user to enter a number n, and then prints all the
odd numbers between 1 and n.

In [12]:
n = int(input("Enter a number: "))
for x in range (1,n+1):
    if x%2 != 0:
        print(x)

Enter a number:  15

1
3
5
7
9
11
13
15

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [14]:
for temp in range(5):
    print("happy birthday")

happy birthday
happy birthday
happy birthday
happy birthday
happy birthday

7. Write a program that takes a number n as input from the user and generates the first
n terms of the series formed by squaring the natural numbers.
Sample output
Enter a number: 6
The first 6 terms of the series are:
1 4 9 16 25 36

In [16]:
n= int(input("enter a number: "))
for temp in range(1,n+1):
   print (temp*temp)

enter a number:  8

1
4
9
16
25
36
49
64

8. Write a program that prompts the user to input a number and prints its multiplication
table.

In [17]:
num = int(input("Enter a number: "))
for i in range(1,11):
    print(num,"x",i,"=",i*num)

Enter a number:  9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

9. Write a Python program to print the first 8 terms of an arithmetic progression starting
with 3 and having a common difference of 4.
The program should output the following sequence:
3 7 11 15 19 23 27 31

In [20]:
a = 3    
d = 4    
n = 8    

for i in range(n):
    term = a + i * d
    print(term, end=" ")

3 7 11 15 19 23 27 31

10. Write a Python program to print the first 6 terms of a geometric sequence starting
with 2 and having a common ratio of 3.
The program should output the following sequence:
2 6 18 54 162 486

In [21]:
a = 2 
r = 3 

for i in range(6):   
    term = a * (r ** i)
    print(term, end=" ")

2 6 18 54 162 486

10. Write a Python program to print the first 6 terms of a geometric sequence starting
with 2 and having a common ratio of 3.
The program should output the following sequence:
2 6 18 54 162 486

In [23]:
n = int (input("Enter a number: "))
sum = 0
for x in range (1,n+1):
    sum += x
print (f"Sum of all numbers upto {n} is: ",sum)

Enter a number:  90

Sum of all numbers upto 90 is:  4095

12. write a program that takes a positive integer N as input and calculates the sum of
the reciprocals of all numbers from 1 up to N. The program should display the final sum.
Output of the program should be like:
Enter a positive integer: 5
The sum of reciprocals from 1 to 5 is: 2.28

In [24]:
n = int (input("Enter a number: "))
sum = 0
for x in range (1,n+1):
    sum += (1/x)
print (f"Sum of all reciprocals upto {n} is: ",sum)

Enter a number:  5

Sum of all reciprocals upto 5 is:  2.283333333333333

13. Write a program that prompts the user to enter a number and repeats this process 5
times. The program should accumulate the numbers entered and then display the final
running total.

In [26]:
n = 0
sum = 0
for x in range(5):
    n = int(input("Enter a number: "))
    sum += n
print("The final running total is: ",sum)

Enter a number:  12
Enter a number:  32
Enter a number:  56
Enter a number:  43
Enter a number:  76

The final running total is:  219

14. Write a program that prompts the user to enter a positive integer and calculates its
factorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by
multiplying all the integers from 1 to 'n' together. For example, the factorial of 5
(denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5.

In [33]:
n = int(input("Enter a positive integer: "))
fact = 1
if n < 0:
    print("Factorial does not exist for negative numbers.")
elif n == 0:
    print(f"Factorial of {n} is 1")
else:
    for x in range(1,n+1):
        fact *= x
    print(f"Factorial of {n} is: ",fact)

Enter a positive integer:  5

Factorial of 5 is:  120

15. Write a Python program that prompts the user to enter a base number and an
exponent, and then calculates the power of the base to the exponent. The program
should not use the exponentiation operator (**) or the math.pow() function. The
program should handle both positive and negative exponents.

In [41]:
base = int(input("Enter the base number: "))
expo = int(input("Enter the exponent: "))
res = 1
for x in range(expo):
    res *= base
print(f"Power of {base} to {expo} is: ",res)

Enter the base number:  2
Enter the exponent:  3

Power of 2 to 3 is:  8